<div class="text-center">
  <h2>{{title}}</h2>
  <p>Written by: {{user.name}} on {{format_date date_created}}</p>
  <p>{{contents}}</p>
</div>

{{#if logged_in}}
<div>
    <form class="comment-form" data-id="{{id}}">
      <div class="mb-3">
        <label for="inputComment" class="form-label">Comment Below:</label>
        <input type="comment" class="form-control" id="inputComment">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{{/if}}

{{#each comments as |comment|}}
<div>
    <p>{{comment.contents}}</p>
    <p>Posted by: {{comment.user.name}} on {{format_date comment.date_created}}</p>
</div>
{{/each}}